[Desktop Entry]
Name=Whisper+
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec=env GDK_BACKEND=x11 whisper-plus %U
Icon={{icon}}
Terminal=false
Type=Application
Categories={{categories}}
StartupWMClass=whisper-plus
